server {
    listen 80;
    listen 443 ssl;

    ssl_certificate /etc/nginx/cert.pem
    ssl_certificate_key /etc/nginx/privkey.pem

    root /usr/share/nginx/html;
    location / {
        try_files $uri /index.html;
    }

    location /anime/ {
        proxy_pass http://kiyomi-api:${API_PORT};
    }

    location /kiyomi/ {
        proxy_pass http://kiyomi-api:${API_PORT};
    }
}